.alert-enter {
  opacity: 0;
  left: -100%;
}
.alert-enter-active {
  left: 0;
  opacity: 1;
  transition: opacity 200ms, left 200ms;
}
.alert-exit {
  opacity: 1;
  left: 0;
}
.alert-exit-active {
  left: -100%;
  opacity: 0;
  transition: left 200ms, opacity 200ms;
}
