@media (max-width: 1680px) {
  .main-back {
    height: 100%;
    background-size: 120% 100%;
    background-position: top;
  }
  .wrapper_links_subscribe {
    width: 75%;
    .links_subcribe {
      .links {
        .ul-links {
          .li-links {
            margin: 0;
          }
        }
      }
      .subscribe {
        .subscribe_form {
          .MuiFormControl-root {
            width: 50%;
          }
          button {
            padding: 13px 40px;
          }
        }
      }
    }
  }
}
@media (max-width: 1481px) {
  .main-back {
    height: 100%;
    background-size: 120% 100%;
    background-position: top;
    .wrapper {
      width: 95%;
    }
    .main-content {
      width: 574px;
    }
    .header {
      padding: 29px 10px 0 11px;
    }
  }
  .article_2 {
    background-position-x: -200px;
  }
}
@media (max-width: 1250px) {
  .main-back {
    height: 100%;
    background-size: 160% 100%;
    background-position: top;
  }
  .wrapper_links_subscribe {
    width: 75%;
    .links_subcribe {
      .links {
        .ul-links {
          .li-links {
            margin: 0;
          }
        }
      }
      .subscribe {
        .subscribe_form {
          .MuiFormControl-root {
            width: 50%;
          }
          button {
            height: 25%;
            width: 40%;
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  .article_2 {
    background-position-x: -400px;
  }
}
@media (max-width: 1117px) {
  .burger {
    &:before {
      bottom: 3px;
    }
    &:after {
      top: 3px;
    }
  }
}
@media (max-width: 1019px) {
  .category {
    overflow: overlay;
  }
  .wrapper_links_subscribe {
    width: 90%;
    .links_subcribe {
      .links {
        .ul-links {
          .li-links {
            margin: 0;
          }
        }
      }
      .subscribe {
        .subscribe_form {
          .MuiFormControl-root {
            width: 50%;
            margin-left: 5px;
          }
          button {
            height: 25%;
            width: 40%;
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  .article_2 {
    background-position-x: -600px;
  }
}
